$main-yellow: #F9C625;
$main-yellow-hover: #FBD765;
$main-red: #F75E57;
//$main-red-hover: ;
$main-green: #31C2A6;
$main-green-hover: #6ed4c1;
$main-orange: #FD8544;
$main-orange-hover: #fea97c;
$main-blue: #3d9bde;
$main-blue-hover: #ebf5fc;
$main-blue-opacity-hover: rgba(61,155,222,.2);
$main-pink: #FF92A3;

$main-white: #fff;

$news-green: #b4db3f;

$transparent: rgba(0,0,0,0);

$main-text-lightgrey: #8d8d8d;

$main-text-grey: #757575;

$main-text-color: #5e5e5e;

$main-headline-color: #313131;

$nav-dash-color: #afafaf;

.text-yellow{
	color:$main-yellow;
}
.text-red{
	color:$main-red;
}
.text-green{
	color:$main-green;
}
.text-news{
	color:$news-green;
}
.text-orange{
	color:$main-orange;
}
.text-blue{
	color:$main-blue;
}
.text-pink{
	color:$main-pink;
}
.text-white{
	color:$main-white;
}
.text-grey{
	color:$main-text-grey;
}

.text-lightgrey{
	color:$main-text-lightgrey;
}

.text-default{
	color:$main-text-color;
}

.text-headline{
	color:$main-headline-color;
}


//background colors

$background-f7: #f7f7f7;
$background-white: #fff;
$background-lightgreen: #f7fbec;
$background-lightyellow: rgba(249,198,37,0.2);
$background-rearyellow: #ffa200;

$background-life: #fff5f3;

$locale-bg:#9DE1F0;
$locale-blue:#367ECF;

