$main-yellow: #F9C625;
$main-yellow-hover: #FBD765;
$main-red: #F75E57;
//$main-red-hover: ;
$main-green: #31C2A6;
$main-green-hover: #6ed4c1;
$main-orange: #FD8544;
$main-orange-hover: #fea97c;
$main-blue: #3D9BDE;
//$main-blue-hover: ;
$main-white: #fff;
$transparent: rgba(0,0,0,0);

$main-text-color: #5e5e5e;

$main-headline-color: #313131;

$nav-dash-color: #afafaf;

//background colors

$background-f7: #f7f7f7;
$background-white: #fff;
$background-lightgreen: rgba(180,219,63,0.05);


$locale-bg:#9DE1F0;
$locale-blue:#367ECF;