$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import "var/common";
@import "addon/checkradios";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	font-family: $main-font,cursive;
	font-size: $base-font-size;
	letter-spacing:1px;
	word-spacing:1px;
	min-width:320px;
	overflow-x:hidden;
	::selection,::-moz-selection {
		background:rgba(0,0,0,0.05);
		color:inherit;
	}
	img::selection{
		background:rgba(0,0,0,0.05);
		color:inherit;	
	}
	img::-moz-selection {
		background:rgba(0,0,0,0.05);
		color:inherit;	
	}
	a{
		color:$main-text-color;
		transition-duration: 0.15s;
		&:focus,&:hover,&:active,&.active{
			transition-duration: 0.25s;
			color:$main-yellow;
			outline:0;
			text-decoration: none;
			img{
				border:0;
			}
		}
		img{
			border:0;
		}
	}
	ul,ol{
		margin:0;
		padding:0;
		li{
			list-style: none;
			display: inline-block;
		}
	}
	img.svg{
		visibility: hidden;
	}
	svg.svg{
		>*{
			fill:$transparent;
		}
	}

	.container{
		max-width:1200px;
		width:100%;
	}
	figure{
		overflow: hidden;
		img{
			max-width:100%;
			width:100%;
		}
	}
	h3,h4,h5,h6{
		line-height:1.3em;
	}
}

html{
	&.ie,&.firefox.windows{
		body{
			font-family: $main-font-fallback;
		}
	}
	&:after{
		position: fixed;
		width:100%;
		height:100%;
		z-index: 100;
		display: block;
		content:' ';
		top:0;
		left:0;
		vertical-align: middle;
		text-align: center;
		animation: yoyo-drop infinite 0.75s;
		background:#fff url(../img/nav/logo-simple.png) no-repeat center 48%;
		font-size: 40px;
		color:$main-yellow;
		font-family: cursive;
	}
	&.image-ready:after{
		// animation:none;
		opacity:0;
		height:0;
		transition:opacity 1s linear 0s, height 0s linear 1.1s;

	}	
}

@media screen and (min-width: 1170px) {
	.showup{

	    opacity: 0;
	    transform: translateY(50px);
	    &.on{
		    animation-delay: 0s;
		    animation-direction: normal;
		    animation-duration: 1.2s;
		    animation-fill-mode: forwards;
		    animation-iteration-count: 1;
		    animation-name: showup;
		    animation-timing-function: ease-in-out;
		    transform: translateY(0px);

		    &.delay-1{
		    	animation-delay: 0s;
		    }
		    &.delay-2{
		    	animation-delay: 0.25s;
		    }
		    &.delay-3{
		    	animation-delay: 0.5s;	    	
		    }
		    &.delay-4{
		    	animation-delay: 0.75s;
		    }
		    &.delay-5{
		    	animation-delay: 1s;	    	
		    }
	    }
	}
}

@keyframes showup {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }

  1% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}


@keyframes yoyo-drop {
    0% {
       
        background-position: center 49%;
    }

    25% {
      
        transform: rotate(-0.3deg) translateY(0);
    }

    50% {
      
        transform: rotate(0.2deg);
    }

    75% {
      
        transform: rotate(-0.1deg);
    }

    100% {
       
        transform: rotate(0deg);
    }
}

@import "page/common";

@import "section/header";

@import "section/kv";

@import "section/content";

@import "section/bloom";

@import "section/footer";