/* Custom page footer */
footer {
	position:relative;
	.link{
		background-color: $background-lightyellow;
		ul{
			margin:20px 85px;
			a{
				display: block;
				img{
					width: 100%;
				}
			}
		}
	}
	.menu{
		background-color:$main-yellow;
		li{
			img,.svg{
				width:26px;
			}
		}
		.main{
			text-align: left;
			circle{
				fill:#fff;
			}
			li{
				&:nth-child(1){
					svg{
						path{
							fill:$main-red;
						}
					}
				}
				&:nth-child(2){
					svg{
						path{
							fill:$main-yellow;
						}
					}
				}
				&:nth-child(3){
					svg{
						path{
							fill:$main-green;
						}
					}
				}
				&:nth-child(4){
					svg{
						path{
							fill:$main-orange;
						}
					}
				}
				&:nth-child(5){
					svg{
						path{
							fill:$main-blue;
						}
					}
				}
			}
		} 
		li a{
			display: inline-block;
			line-height: 30px;
			vertical-align: middle;
			letter-spacing: 1px;
			&:before{
				display: inline-block;
				vertical-align: middle;
				content:' ';
				height: 60px;
			}	
			.svg{
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
		}
		.container{
			letter-spacing: 35px;
			text-align:center;
			position:relative;
			margin-top:180px;
			@media screen and (min-width: 1170px) {
				width:850px;
				white-space: nowrap;
				letter-spacing: 15px;
				text-align:left;
				margin-top:0;
			}
			nav{
				letter-spacing: -1em;
				display: inline-block;
				ul{
					letter-spacing: 0;
				}
			}
			.social{
				font-size:0;
				@media screen and (max-width: 1170px) {
					position: absolute;
					top:-140px;
					width: 100%;
					left:0;
				}
				h3{
					font-weight: bold;
					text-transform: uppercase;
					display: inline-block;
					position:relative;
					z-index: 1;
					letter-spacing: 1px;
					font-size: 32px;
					&:before{
						position:absolute;
						bottom:0;
						height:15px;
						width: 100%;
						background-color:$main-yellow;
						opacity:0.8;
						content:' ';
						z-index: -1;
					}
				}
				ul{
					letter-spacing: 10px;
					a{
						img{
							transition-duration: 0.2s;
						}
						&:hover{
							img{
								transition-duration: 0.35s;
								transform:scale(1.253846);
							}
						}
					}
				} 
			}
			.main ul{
				letter-spacing: 30px;
				padding: 0 35px;
				a{
					overflow: hidden;
					&:after{
						position:absolute;
						border-bottom:1px solid $main-white;
						width:100%;
						height: 0;
						content:' ';
						bottom:1.7em;
						left:0;
						margin-left:36px;
						transform: translateY(2px);
						transform-origin:top center 0;
						transition-duration: 0.2s;
						opacity: 0;
					}
					&:hover,&:active,&:focus{
						color:$main-white;
						// text-decoration:underline;
						&:after{
							transform: none;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	a{
		color:$main-white;
		position:relative;
	}
	.copy{
		margin:0;
		color:$main-white;	
		background-color:$background-rearyellow;
		height: 30px;
		line-height:30px;
		overflow: hidden;
		@media screen and (max-width: 1170px) {
			font-size: percentage(10/13);
		}
	}
	.gotop{
		background:url(../img/gotop/top-2.png) no-repeat center bottom;
		position:absolute;
		right:0;
		top:-200px;
		width:72px;
		height:123px;
		z-index:20;
		&:hover{
			.fly{
				// animation-name: slideOutUp;				
			 //    animation-duration: 1.2s;
			 //    animation-iteration-count: infinite;
			 	transform:translateY(-10px);
			}
		}
		figure{
			width:72px;
			height:123px;
			position:absolute;
		}
	}
}
