header{
  box-shadow:1px 1px 3px rgba(0,0,0,0.2);
  position:fixed;
  top:0;
  width:100%;
  z-index:10;
  background:#fff;
  .fore{
    background: $main-yellow;
    height: 30px;
    li{
      img,svg{
        margin-right:10px;
      }
      &:before{
        content:'';
        display: inline-block;
        vertical-align: middle;
        height:30px;
      }
      &+li{
        margin-left:30px;
      }
    }
    a{
      color: $main-white;
      &:hover,&:active{
        color: $main-white;
      }
      img{
        width:13px;
      }
      svg{
        display: inline-block;
        vertical-align: middle;
        width:13px;
        path{
          fill: #fff;
        }
      }
      vertical-align: middle;
    }
    @media screen and (max-width: 1170px) {
      height:5px;
      >.container{
        display: none;
      }
    }
  }
  #menu{
    text-align:right;
    font-size: 15px;
    &:before{
      height:90px;
      display: inline-block;
      vertical-align: middle;
      content:' ';
    }
    h1{
      &:before{
        height:90px;
        display: inline-block;
        vertical-align: middle;
        content:' ';
      }
      font-size: 0;
      letter-spacing: 0;
      word-spacing:0;
      float: left;
      margin:0;
    }

    ///  設定圖片和顏色
    >ul{
      >li{
        img{
          width:25px;
        }
        svg{
          width:25px;
          circle,path{
            transition-duration:0.2s;
          }
        }
        ul{
          color:$main-white;
        }
        &:nth-child(1){
          svg{
            circle{
              fill:rgba(0,0,0,0);
            }
            path{
              fill:$main-red;
            }
          }
          a, i{
            color:$main-red;
          }
          hr{
            &:before{
              color: $main-red;
            }
            border-color: $main-red;
          }
          ul{
            a{
              color:$main-white;
            }
            &:before{
              color:$main-red;
            }
            li{
              background: $main-red;
              &:hover{
                background: $main-red;
              }
            }
          }
          &:hover{
            svg{
              circle{
                fill:$main-red;
              }
              path{
                fill:$main-white;
              }
            }

          }
        }
        &:nth-child(2){
          svg{
            circle{
              fill:$transparent;
            }
            path{
              fill:$main-yellow;
            }
          }
          a, i{
            color:$main-yellow;
          }
          hr{
            &:before{
              color: $main-yellow;
            }
            border-color: $main-yellow;
          }
          ul{
            a{
              color:$main-white;
            }
            &:before{
              color:$main-yellow;
            }
            li{
              background: $main-yellow;
              &:hover{
                background: $main-yellow-hover;
              }
            }
          }
          &:hover{
            svg{
              circle{
                fill:$main-yellow;
              }
              path{
                fill:$main-white;
              }
            }
          }
        }
        &:nth-child(3){
          svg{
            circle{
              fill:$transparent;
            }
            path{
              fill:$main-green;
            }
          }
          a, i{
            color:$main-green;
          }
          hr{
            &:before{
              color: $main-green;
            }
            border-color: $main-green;
          }
          ul{
            a{
              color:$main-white;
            }
            &:before{
              color:$main-green;
            }
            li{
              background: $main-green;
              &:hover{
                background: $main-green-hover;
              }
            }
          }
          &:hover{
            svg{
              circle{
                fill:$main-green;
              }
              path{
                fill:$main-white;
              }
            }
          }
        }
        &:nth-child(4){
          svg{
            circle{
              fill:$transparent;
            }
            path{
              fill:$main-orange;
            }
          }
          a, i{
            color:$main-orange;
          }
          hr{
            &:before{
              color: $main-orange;
            }
            border-color: $main-orange;
          }
          ul{
            a{
              color:$main-white;
            }
            &:before{
              color:$main-orange;
            }
            li{
              background: $main-orange;
              &:hover{
                background: $main-orange-hover;
              }
            }
          }
          &:hover{
            svg{
              circle{
                fill:$main-orange;
              }
              path{
                fill:$main-white;
              }
            }
          }
        }
        &:nth-child(5){
          svg{
            circle{
              fill:$transparent;
            }
            path{
              fill:$main-blue;
            }
          }
          a, i{
            color:$main-blue;
          }
          hr{
            &:before{
              color: $main-blue;
            }
            border-color: $main-blue;
          }
          ul{
            a{
              color:$main-white;
            }
            &:before{
              color:$main-blue;
            }
            li{
              background: $main-blue;
              &:hover{
                background: $main-blue;
              }
            }
          }
          &:hover{
            svg{
              circle{
                fill:$main-blue;
              }
              path{
                fill:$main-white;
              }
            }
          }
        }
      }
    }
    ///  設定尺寸和內外距格線
    >ul{
      display: inline;
      letter-spacing: -1em;
      line-height: 30px;
      >li{
        vertical-align: middle;
        display: inline-block;
        position:relative;
        width:140px;
        text-align:center;
        transition-duration: 0.2s;
        &+li{
          border-left: 1px dashed $nav-dash-color;
        }
        img,svg{
          vertical-align: middle;
          margin-right:10px;
        }
        a{
          &:before{
            content:' ';
            display: inline-block;
            vertical-align: middle;
            height:30px;
          }
          display: inline-block;
          height:30px;
          line-height: 30px;
          vertical-align: middle;
          letter-spacing: 1px;
          padding:0;
        }
        hr{
          position: relative;
          opacity: 0;
          transition-duration: 0.4s;
          &:before{
            content: "";
            font-family: FontAwesome;
            left: 0%;
            position: absolute;
            top: -18px;
            transition-duration: 0.4s;
            width: 100%;
            opacity: 0;
          }
          bottom: 1px;
          margin: 0 0 -31px;
          position: absolute;
          width: 100%;
        }
        ul{
          position:absolute;
          padding-top:30px;
          width:100%;
          overflow: hidden;
          opacity: 0;
          transform:rotateX(-90deg);
          transform-origin:center 30px 0;
          -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
          backface-visibility: hidden;
          transition-duration: 0.4s;
          display: block !important;
          li{
            transition-duration: 0.2s;
            height:37px;
            width:100%;
            padding:0 5px;
            &:before{
              content:' ';
              display: inline-block;
              vertical-align: middle;
              height:37px;
            }
            &:hover{
              a{
                &:after{
                  transform:none;
                  transition-duration:.5s;
                }
              }
            }
            a{
              &:before{
                content:' ';
                display: inline-block;
                vertical-align: middle;
                height:37px;
              }
              &:after{
                width:24px;
                height:100%;
                position:absolute;
                top:0;
                background:transparent url(../img/nav/arrow.png) 17px center no-repeat;
                content:' ';
                left:0;
                transform: translateX(-7px);
                transition-duration:.25s;
              }
              position:relative;
              height:100%;
              width:100%;
              vertical-align: middle;
              text-align:left;
              padding-left:30px;
            }
            &+li{
              a{
                border-top:1px solid $main-white;
              }
            }
          }
        }

        &:hover{
          ul{
            transform:none;
            opacity: inherit;
            transition-duration: 0.8s;
          }
          hr{
            opacity: inherit;
            &:before{
              opacity: inherit;
            }
          }
        }
      }
    }

  }
  .mobile-menu{
    padding:0 15px 0;
    height: 50px;
    display: none;
    text-align: right;
    min-width: 320px;
    @media  (min-width: 768px) and (max-width: 1170px) {
      height: 96px;
    }
    >a{
      display: inline-block;
      position:absolute;
      left:15px;
      height: 100%;
      &:before{
        content: " ";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
      }
      vertical-align: middle;
    }
    >ul{
      vertical-align: middle;
    }
    img.logo{
      vertical-align: middle;
      height:35px;
      @media screen and (min-width: 768px) {
        height:80px;
      }
      position:relative;
      top:0;
      margin-top:0;
    }
    a#slidedown-menu{
      width:30px;
      height:30px;
      left:auto;
      position:relative;
      vertical-align: middle;
      display: inline-block;
      z-index: 2;
      img{
        position:absolute;
        top:0;
        left:0;
        width:100%;
      }
      @media screen and (min-width: 768px) {
        width:50px;
        height:50px;
        position:absolute;
        right:25px;
        margin-top:percentage(20/738);
        hr{
          margin-left:percentage(2/50);
          &:before{
            margin-top:percentage(-22/34);
          }
        }
      }
    }
    .locale{
      display: inline-block;
      font-family: 微軟正黑體, 'lantinhei tc';
      line-height: 50px;
      vertical-align: middle;
      @media screen and (min-width: 768px) {
        line-height:96px;
        text-align:right;
        float: right;
        margin-right:80px;
      }
      li.active{
        a{
          text-decoration: underline;
        }
      }
      li:nth-child(1) a{
        color:$main-green;
      }
      li:nth-child(2) a{
        color:$main-blue;
      }
    }    
  }
  @media screen and (max-width: 1170px) {
    .mobile-menu {
      display: block;
    }
    >.container{
      display: none;
    }
  }
}
.left-menu{
  position:fixed;
  z-index: -1;
  top:0;
  opacity:0;
  height:40px;
  left:0;
  width:100%;
  overflow: hidden;
  font-size:percentage(18/13);
  >ul.menu {
    transition: opacity 0.75s ease-out 0s;
    padding:0 15px;
    margin-top:50px;
    >li {
      display: block;
      overflow: hidden;
      border-top:1px solid $main-headline-color;
      position:relative;
      a{
        padding-left:60px;
        margin:5px 0;
        display: block;
        height:auto;
        transition: color,opacity 0.75s ease-out 0s;
        line-height: 4em;
        svg{
          vertical-align: middle;
          position:absolute;
          left:20px;
          top:1.5em;
          margin-top:-10px;
          circle{
            fill:transparent;
          }
          path{
            fill:$main-headline-color;
          }
          width: 30px;
          @media screen and (min-width: 769px) {
            width:50px;
          }
        }
        &:hover,&:active,&:focus{
          color:$main-headline-color;
          background-color:$main-yellow;
        }
        &:after{
          background:url(../img/nav/link.png) no-repeat center center /auto 20px;
          display: block;
          position: absolute;
          right:25px;
          height:30px;
          width:30px;
          margin-top:-15px;
          top:1.75em;
          content:' ';
        }
        @media screen and (min-width: 769px) {
          line-height: 3em;
          padding-left:4em;
          svg{
            top:2em;
            margin-top:-30px;
          }
        }
      }
      hr{
        display: none;
      }
      ul{
        display: none;
        li{
          a{
            line-height: 3em;
          }
          position:relative;
          font-size: percentage(24px/26px);
          border-top:1px solid $main-headline-color;
          display: inline-block;
          width:100%;
        }
      }
      &.child-closed{
        a:after{
          background-image:url(../img/nav/open.png)!important;
        }
        ul{
          li{
            a:after{
              background-image:url(../img/nav/link.png)!important;
            }
          }
        }
        &.child-opened{
          a:after{
            background-image:url(../img/nav/close.png)!important;
          }
          ul{
            li{
              a:after{
                background-image:url(../img/nav/link.png)!important;
              }
            }
          }
        }
      }
    }
  }
  >ul.social{
    text-align: center;
    font-size:percentage(15/18);
    letter-spacing: 1em;
    margin-top:190px;
    @media screen and (max-width: 320px) {
      margin-top:20px;
    }
    li{
      img{
        width:2em;
        transition-duration: 0.35s;
      }
      &:hover{
        img{
          transition-duration: 0.55s;
          transform:scale(1.253846);
        }
      }
    }
  }
  .close-menu{
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 13px;
    @media screen and (min-width: 767px) {
      top:15px;
    }
    cursor: pointer;
    img{
      width: 30px;
      @media screen and (min-width: 767px) {
        width:50px;
      }
    }
  }
  &:before{
    height:5px;
    content:' ';
    width:100%;
    display: block;
    background-color:$main-yellow;
  }
}
body.menuon{
  .left-menu{
    position:absolute;
    opacity: inherit;
    // height: auto;
    z-index: 11;
    >ul{
      // opacity: 1;
    }
  }
  &:after{
    height: 100%;
    background: rgba(255,255,255,1); 
    transition:height 0s linear 0s, background 0.5s linear 0s;
  }
}
body{
  &:after{
    display: block;
    width: 100%;
    height: 0;
    z-index: 10;
    background: rgba(255,255,255,.3); 
    transition:height 0s linear 0.5s, background 0.5s linear 0s;
    content:' ';
    position:fixed;   
    top:0;
    left:0;
  }
}