.page.anouncement{
  .box-list{
    margin-top:0;
    @media screen and (max-width: 767px) {
      margin-left:-5px;
      margin-right:-5px;
    }
    >li{
      @media screen and (max-width: 767px) {
        padding-left:5px;
        padding-right:5px;
      }
      .category{
        margin-top:0;
        line-height: 20px;
        svg{
          polygon{
            fill:$main-red;
          }
        }
      }
      .date{
        i.news-icon{
          margin-top:-30px;
          height:60px;
          width:60px;
          display: inline-block;
          z-index:1;
          position: relative;
          background:url(../img/anouncement/Z01_1.svg) no-repeat 0 0/100% auto;

          @for $i from 2 to 31 {
            @if $i < 10 {
              $s : '0' + $i
            }
            @else{
              $s : $i
            }
            &.z#{$s}{
              background-image:url(../img/anouncement/Z#{$s}_1.svg);
            }
          }
        }

      }
      .box{
        &:after{
          border-color: transparent $main-red $main-red transparent;
        }
        &:hover{
          h4{
            color:$main-red;
          }
          .date{
            color:$main-red;
          }
        }
      }
    }
  }
  .sidebar{
    .title{
      margin-bottom:15px;
      h3{
        border-bottom-color: $news-green;
        &:after{
          background-color: $news-green;
        }
      }
    }
    .calendar{
      margin-bottom:60px;
    }
  }
}