h3.brush{
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	position:relative;
	z-index: 1;
	&:before{
		position:absolute;
		bottom:0;
		height:0.5em;
		width: 100%;
		background-color:$main-yellow;
		opacity:0.8;
		content:' ';
		z-index: -1;
	}
}
.title{
	margin:60px 0 27px;
	position:relative;
	white-space: nowrap;
	sub{
		bottom:0;
		margin-left: 1em;
	}
	h3{
		display: inline-block;
		font-weight: bold;
		border-bottom:3px solid $main-orange;
		margin:0;
		padding-bottom:20px;
		&:after{
			position:absolute;
			bottom:0;
			width:100%;
			content:' ';
			height:3px;
			background-color:$main-orange;
			left:0;
			opacity:0.5;
		}
	}
}
.category{
    color: #fff;
    display: inline-block;
    line-height: 1.8em;
    margin-top: -0.1em;
    padding: 0 1.5em 0 1em !important;
    position: absolute;
    z-index: 1;
    top:0;
    img,svg{
    	position:absolute;
    	z-index: -1;
    	left:0;
    	top:0;
    	width:100%;
    	polygon{
    		fill:$main-yellow;
    	}
    	circle{
    		fill:$main-white;
    	}
    }
}
ul.box-list{
    margin:45px -19px 0;
}
ul.box-list,ul.list{
	li{
		padding:0 19px 60px;
		position:relative;
		outline: none;
		.box{
			background-color: $main-white;
			box-shadow:rgba(0,0,0,0.05) 1px 1px 5px;
			padding-bottom:30px;
			position:relative;
			display: block;
			@media screen and (max-width: 1170px) {
				padding-bottom:10px;
			}
			&:after{
				content: ' ';
				border-width:7px;
				border-style:solid;
				border-color:transparent $main-yellow $main-yellow transparent;
				position:absolute;
				bottom:0;
				right: 0;
			}
			h4{
				font-weight:600;
				height:3em;
				line-height: 1.5em;
				margin-bottom:10px;
				overflow: hidden;
			}
			h4,p{
				padding: 0 15px;
			}
			figure{
				position:relative;
				&:after{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background:rgba(255,255,255,0.4);
					content:' ';
					opacity: 0;
					transition-duration: 0.35s;
				}
				img{
					transition-duration:0.25s;
				}
			}
			&:hover,&:active,&:focus{
				p.fontsize-14{
					color:$main-text-color;
				}
				figure{
					&:after{
						opacity: 1;
					}
					img{
						transform-origin:-100px -100px;
						transform: scale(3) translateX(-100px) translateY(-100px);
						transition-duration:30s;
					}
				}
			}
		}
	}
	.green{
		.category{
	    	polygon{
	    		fill:$main-green;
	    	}
		}
		.box:hover,.box:active,.box:focus{
			color:$main-green;
		}
		.box:hover p:last-child,.box:active p:last-child,.box:focus p:last-child{
			color:$main-text-color;
		}
		.box:after{
			border-color:transparent $main-green $main-green transparent;
		}
	}
	.blue{
		.category{
	    	polygon{
	    		fill:$main-blue;
	    	}
		}
		.box:hover,.box:active,.box:focus{
			color:$main-blue;
		}
		.box:hover p:last-child,.box:active p:last-child,.box:focus p:last-child{
			color:$main-text-color;
		}
		.box:after{
			border-color:transparent $main-blue $main-blue transparent;
		}
	}
	.yellow{
		.category{
	    	polygon{
	    		fill:$main-yellow;
	    	}
		}
		.box:hover,.box:active,.box:focus{
			color:$main-yellow;
		}
		.box:hover p:last-child,.box:active p:last-child,.box:focus p:last-child{
			color:$main-text-color;
		}
		.box:after{
			border-color:transparent $main-yellow $main-yellow transparent;
		}
	}

}
h6{
	position:absolute;
	top:0;
	right:0;
	background:$news-green;
	padding-right:5px;
	margin:0;
	overflow: hidden;
	@media screen and (max-width: 1170px) {
		display: none;
	}

	a{
		background:transparent url(../img/home/view-more.png) right center no-repeat;
		color:$main-white; 
		padding:7px 24px 7px 12px;
		display: inline-block;
		&:after{
			border-color: rgba(255,255,255,0.5) rgba(255,255,255,0.5) rgba(255,255,255,0.5) transparent;
			border-style: solid;
			border-top-width: 14px;
			border-right-width: 14px;
			border-bottom-width: 14px;
			border-left-width: 0;
			content: " ";
			display: block;
			height: 0;
			position: absolute;
			right: -14px;
			top: 0;
			width: 0;
			opacity: 0;
			// background:#fff;
			transition-duration: 0.35s;
		}
		&:before{
			right:-100%;
			width:100%;
			height:100%;
			top:0;
			position:absolute;
			display: block;
			content:' ';
			background:$main-green;
			opacity: 0;
			transition-duration: 0.35s;
		}
		&:hover,&:active,&:focus{
			color:$main-white; 
			&:after{
				width:20px;
				transition-duration: 0.5s;
				border-left-width: 14px;
				border-color: rgba(255,255,255,0.5) rgba(255,255,255,0.5) rgba(255,255,255,0.5) transparent!important;
				right:0;
				opacity: 1;
			}
			&:before{
				right: 0;
				opacity: 0;
			}
		}
	}
}

.jiathis_style{
	display:none;
}

.breadcrumbs{
	margin:10px 0 15px;
	ul{
		li{
			a{
				position:relative;
				&:after{
					position:absolute;
					border-bottom:1px solid $main-orange;
					width:100%;
					height: 0;
					content:' ';
					bottom:0em;
					left:0;
					transform: translateY(2px);
					transform-origin:top center 0;
					transition-duration: 0.2s;
					opacity: 0;
				}
				&:hover,&:active,&:focus{
					color:$main-orange;
					&:after{
						transform: none;
						opacity: 1;
					}

				}
			}

			&+li{
				&:before{
					content:'  >  ';
				}
			}
		}
	}
}
.slick-slide{
	&:focus{
		outline:none;
	}
}

.sidebar{
	.title{
		margin:0;
		text-transform:uppercase;
  		margin-bottom:15px;
    	&.newsgreen{
      		h3{
        		border-bottom-color: $news-green;
        		&:after{
          			background-color: $news-green;
        		}
      		}
    	}
    	&.red{
      		h3{
       			border-bottom-color: $main-red;
        		&:after{
          			background-color: $main-red;
        		}
      		}
		}
    	&.orange{
      		h3{
       			border-bottom-color: $main-orange;
        		&:after{
          			background-color: $main-orange;
        		}
      		}
		}
	}

    .recent-posts{
      	margin-bottom:60px;
      	h4{
        	width:100%;
	        margin:0;
	        display: block;
	        padding-top:10px;
	        padding-bottom:25px;
	        min-height: 30px;
	        span{
				display: inline-block;
				height: 100%;
				padding-left:0;
				padding-right:5px;
	        }
	        a{
				padding-right:0;
				padding-left:5px;
	          	height: 100%;
	          	display: inline-block;
	          	&:hover,&:active,&:focus{
	            	color:$main-headline-color;
	          	}
	        }
      	}
      	&.newsgreen{
	      	.date{
	        	color:$news-green;
	      	}
      		h4{
	        	border-bottom:1px solid $news-green;
      		}
      	}
      	&.red{
	      	.date{
	        	color:$main-red;
	      	}
      		h4{
	        	border-bottom:1px solid $main-red;
      		}
      	}
      	&.orange{
	      	.date{
	        	color:$main-orange;
	      	}
      		h4{
	        	border-bottom:1px solid $main-orange;
      		}
      	}
    }
	.fb-page{
		max-width: 100%;
		min-height: 500px;
		iframe{
			width:100%;
			max-width: 100%;
		}
	}
}
.filter-dropdown{
	background:url(../img/common/dropdown-cross.png) center center no-repeat;
	margin-bottom: 40px;
	.row{
		margin-right:-35px;
		margin-left:-35px;
	}
	aside.col-lg-6{
		padding:0 35px;
	}
	&.newsgreen{
		background-color:$news-green;
		.dropdown{
			.dropdown-menu{
				li{
					a:hover{
						background-color: $news-green;
					}
				}
			}
		}
	}
	&.red{
		background-color:$main-red;
		.dropdown{
			.dropdown-menu{
				li{
					a:hover{
						background-color: $main-red;
					}
				}
			}
		}
	}
	&.orange{
		background-color:$main-orange;
		.dropdown{
			.dropdown-menu{
				li{
					a:hover{
						background-color: $main-orange;
					}
				}
			}
		}
	}
}

.dropdown{
	height:45px;
	margin:20px 0;
	.btn:first-child{
		height:45px;
		width:100%;
		border:0;
		border-radius:0;
		box-shadow:none;
		overflow: hidden;
		z-index: 1;		
		position:relative;
		background:transparent;
		text-align:left;
		&:focus{
			outline: none;
		}


		&:before{
			z-index: -1;
			background:#fff;
			content:' ';
			position:absolute;
			right:45px;
			width:100%;
			height:100%;
			top:0;
			display: block;
		}
		&:after{
			z-index: -1;
			content:' ';
			position:absolute;
			right:0;
			width:100%;
			height:100%;
			top:0;
			display: block;
			background:url(../img/common/dropdown-bg.png) transparent right top no-repeat;
		}
	}
	.dropdown-menu{
		border-radius:0;
		background-color:#f2f2f2;
		border:0;
		width:100%;
		margin:0;
		padding:0;
		li{
			display: block;
			height:45px;
			border:1px solid transparent;
			a{
				color:$main-text-color;
				width:100%;
				display: inline-block;
				vertical-align: baseline;
				height:100%;
				line-height: 40px;
				&:hover{
					color:#fff;
				}
			}
		}
	}
}
.pagination{
	display: block;
	text-align: center;
	letter-spacing: 20px;
	white-space: nowrap;
	border-radius:0;
	margin:20px auto 50px;
	>*{
		letter-spacing: 1px;
	}
	.prev{
		display: inline-block;
	}
	a{
		font-weight: bold;
		display: block;
	}
	ul{
		display: inline-block;
		li{
			width:20px;
			height:20px;
		}
	}
	.next{
		display: inline-block;
	}
	&.red{
	    a{
	      color:$main-red;
	      &:hover,&:active,&:focus{
	        color:$main-red;
	      }
	    }
	    ul{
	      a{
	        color:$main-red;
	        &:hover,&:active,&:focus{
	          color:$main-white;
	          background-color:$main-red;
	        }
	      }
	    }
	}
	&.orange{
	    a{
	      color:$main-orange;
	      &:hover,&:active,&:focus{
	        color:$main-orange;
	      }
	    }
	    ul{
	      a{
	        color:$main-orange;
	        &:hover,&:active,&:focus{
	          color:$main-white;
	          background-color:$main-orange;
	        }
	      }
	    }
	}
	&.newsgreen{
	    a{
	      color:$news-green;
	      &:hover,&:active,&:focus{
	        color:$news-green;
	      }
	    }
	    ul{
	      a{
	        color:$news-green;
	        &:hover,&:active,&:focus{
	          color:$main-white;
	          background-color:$news-green;
	        }
	      }
	    }
	}
}

@import "home";

@import "contact";

@import "comment";

@import "anouncement";

@import "gallery";

@import "blog";


