.page.comment{
  .fb-comments {
    padding: 0;
    iframe{
      min-height:880px;
      background: #f9f9f9;
    }
  }
  .sponsor{
    img{
      width:100%;
    }
    margin-bottom:60px;
  }
  .container{
    margin-bottom: 60px;
  }
}