.page.contact{
  overflow: hidden;
  @media screen and (max-width: 1170px) {
    margin-top: 60px;
  }
  #map-canvas{
     width:100%;
     height:600px;
     margin-bottom: 60px;
     background:url(../img/contact/map-preview.png) 0 0 /100% 100% no-repeat;
  }
  .map-icon {
    img{
      width:49px;
      height:65px;
    }
  }
  .contact-list{
    @media screen and (max-width: 1170px) {
      margin-left:5px;
      margin-right:5px;
      margin-bottom: 40px;
      li{
        padding:20px;
      }
    }
    @media screen and (max-width: 767px) {
      li{
        padding: 0 0 20px;
      }
    }

    .slick-dots{
      margin:0;
      bottom:30px;
      @media screen and (max-width: 1170px) {
        bottom:0;
      }
      position:absolute;
      button{
        opacity:0.5;
        width:10px;
        height:10px;
        background-color:$main-blue;
        border-radius: 50%;
        transform:scale(0.5);
        transition-duration:0.2s;
        &:before{
          display: none;
        }
      }
      li{
        display: inline-block;
        width:10px;
        height:10px;
        margin:0 6px;
        padding:0!important;
      }
      .slick-active{
        button{
          opacity:inherit;
          transform:none;
        }
      }
    }
    .slick-arrow{
      @media screen and (max-width: 1170px) {
        display: none;
      }
      position: absolute;
      z-index: 1;
      opacity:0.5;
      transition-duration: 0.2s;
      display: block;
      width:23px;
      height:42px;
      background-image:url(../img/home/life-prev.png);
      &:hover{
        background-image:url(../img/home/life-prev.png);
        opacity: inherit;
      }
      &:before{
        font-size: 0;
      }
    }
    .slick-prev {
      left: -20px;
    }
    .slick-next {
      right: -20px;
      background-image:url(../img/home/life-next.png);
      &:hover{
        background-image:url(../img/home/life-next.png);
      }
    }
  }
  .box{
    padding-bottom:30px;
    box-shadow:rgba(0,0,0,0.1) 1px 0px 3px;
    position:relative;
    height:230px;
    margin-bottom: 80px;
    @media screen and (max-width: 1170px) {
      margin-bottom: 0;
    }
    &.green{
      h3{
        color:$main-green;
      }
      &:after{
        border-color:transparent $main-green $main-green transparent;
      }
    }
    &.blue{
      h3{
        color:$main-blue;
        margin:13px 0;
      }
      &:after{
        border-color:transparent $main-blue $main-blue transparent;
      }
    }
    &.yellow{
      h3{
        color:$main-yellow;
      }
      &:after{
        border-color:transparent $main-yellow $main-yellow transparent;
      }
    }
    &:after{
      content: ' ';
      border-width:7px;
      border-style:solid;
      border-color:transparent;
      position:absolute;
      bottom:0;
      right: 0;
    }
    h3{
      margin:15px 0 10px;
      font-weight: 600;
    }
    p{
      line-height: 1.2em;
      margin:0 0 10px;
    }
    ol{
      padding:0 40px 0 0;
      margin:0;
      position:absolute;
      bottom:30px;
      white-space:nowrap;
      width: 100%;
      letter-spacing: 0px;

      li{
        position:relative;
        padding:0;
        display: inline;
        a{
          letter-spacing: 1px;
          padding-right:2px;
          color:$main-pink;
          border:1px solid $main-pink;
          max-width: 100%;
          &:hover{
            // border:1px solid $main-white;
            background:$main-pink;
            color:$main-white;
            svg{
              path{
                fill:$main-white;
              }
            }
          }
        }
        .svg{
          width: 100%;
          path{
            fill:$main-pink;
          }
        }
        &:nth-child(1){
          svg{
            transform: translateY(7px);
            max-height: 22px;
            max-width: 22px;
          }
        }
        &:nth-child(2){
          svg{
            transform: translateY(5px);
            max-height: 20px;
            max-width: 20px;
          }
        }
        &:nth-child(3){
          svg{
            transform: translateY(2px);
            max-height: 13px;
            max-width: 13px;
          }
        }
      }
    }
  }
  .form{
    margin-bottom:60px;
    max-width:700px;
    h3{
      margin:0 0 20px 0;
    }
    form{
      margin:0 -10px;
      .form-group{
        padding:0 10px 20px;
        margin:0;
        background:20px 8px/ 20px auto no-repeat;
        input,textarea{
          background: $main-blue-hover no-repeat  6.8em 10px;
          background-color:$main-blue-opacity-hover;
          padding-left:35px;
          border:1px solid $main-blue;
          box-shadow:none;
          border-radius:0;
          &:focus{
            background-color:rgba(0,0,0,0);
          }
          &::-webkit-input-placeholder {
             color: $main-text-color;
          }

          &:-moz-placeholder { /* Firefox 18- */
             color: $main-text-color;  
          }

          &::-moz-placeholder {  /* Firefox 19+ */
             color: $main-text-color;  
          }

          &:-ms-input-placeholder {  
             color: $main-text-color;  
          }
          &:focus::-webkit-input-placeholder{
            color:rgba(0,0,0,0);
          }
          &:focus:-moz-placeholder{
            color:rgba(0,0,0,0);
          }
          &:focus::-moz-placeholder{
            color:rgba(0,0,0,0);
          }
          &:focus:-ms-input-placeholder{
            color:rgba(0,0,0,0);
          }
          &[required]{
            background-image:url(../img/contact/required.png) ; 
            &:focus{
              background:rgba(0,0,0,0);
            }
          }
          &[required]:valid {
            background-image:none ; 
            &:focus{
              background:rgba(0,0,0,0);
            }
          }
        }
        textarea[required]{
          background-position:7.8em 10px ; 
        }
        &.parent{
          background-image:url(../img/contact/parent.svg);
        }
        &.kid{
          background-image:url(../img/contact/kid.svg);
        }
        &.phone{
          background-image:url(../img/contact/phone.svg);
        }
        &.gender{
          background-image:url(../img/contact/gender.svg);
        }
        &.mail{
          background-image:url(../img/contact/mail.svg);
        }
        &.birth{
          background-image:url(../img/contact/birth.svg);
          background-position:20px 8px;
        }
        &.advise{
          background-image:url(../img/contact/advise.svg);
          background-position:20px 8px;
          textarea{
            height:256px;
            display: block;
          }
        }
        &:focus:after{
          color:rgba(0,0,0,0);
        }
        &.col-lg-12{
          padding-bottom:0;
        }
      }
      .btn-default{
        border-radius:0;
        box-shadow:none;
        padding:10px 50px;
        color:$main-white;
        background: $main-blue;
        margin-top:25px;
      }
      textarea{
        resize:none;
      }
    }
    .highlight{
      padding-top:25px;
      display: block;
      clear: both;
      color:$main-red;
    }
    p{
      margin-bottom:0;
    }
    label{
      cursor: pointer;
      &:before{
        content: " ";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
    .options{
      margin:20px auto;
      color:$main-blue;
      @media screen and (max-width: 1170px) {
        max-width: 550px;
      }
      li{
        margin-left:10px;
      }
      input[type="radio"], input[type="checkbox"]{
        border-color:$main-blue;
        color:$main-blue;
      }
      .checkradios-radio{
        border-color:$main-blue;
        border-width:1px;
        font-size:percentage(10/16);
        display: inline-block;
        margin: -5px 5px 0;
        vertical-align: middle;
        &:before{
          color:$main-blue;
          display: block;
          opacity: 0;
          width:1em;
          height:1em;
          content:' ';
          background-color:$main-blue;
          border-radius:50%;
          transition-duration: 0.2s;
        }
        &.checked{
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }
  h3.brush{
    @media screen and (min-width: 1170px) {
      font-size: percentage(30/13);
    }
    @media screen and (max-width: 1170px) {
      margin:0 0 25px;
    }
    &:before{
      background-color:$main-blue;
      opacity: 0.4;
    }
  }
}

